.project{
    color:black;
    background-color: rgb(237, 222, 191);
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    overflow: hidden;
}

.projectDark{
    color:rgb(255, 255, 255) ;
    background-color: rgb(9, 23, 27) ;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    overflow: hidden ;
}
.live{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.live::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgb(32, 109, 172);
    transform-origin: top left;
    transform: scale(1,0);
    transition: all 0.3s ease-in;
    z-index: -1;

}
.live:hover::before{
    transform-origin: top right;
    transform: scale(1,1);
}
.live:hover{
    color:white;
}

.cardStyleLight{
  flex-direction: column;
  border: 5px solid yellow;
  margin: auto;
  border-radius: 1rem;
  background-color: orange;
  box-shadow: 1px 1px 10px 3px violet;
  overflow: hidden;
  /* box-shadow: rgba(250, 250, 200, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  color:rgb(255, 255, 255);
}

.cardStyleDark{
    flex-direction: column;
    border: 5px solid rgb(165, 89, 8);
    margin: auto;
    border-radius: 1rem;
    /* background-color: rgb(102, 81, 41); */
    /* background-color: rgb(73, 184, 212); */
    background: linear-gradient(45deg,rgb(26, 196, 239),rgb(1, 57, 71));
    box-shadow: 1px 1px 10px 3px rgb(147, 53, 147) ;
    overflow: hidden;
    /* box-shadow: rgba(250, 250, 200, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  }
  
