
@media all and (min-width:0px) and (max-width:480px){
    .react-activity-calendar__footer{
        flex-direction: column !important;
        color:red !important;
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box !important;
    }
    .styles_footer__ltlVl{
        flex-direction: column !important;
        color:red !important;
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box !important;
    }
    .react-activity-calendar__count{
        color:red !important;
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box !important;
    }
}