body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  /* background-color: #ce376c;  */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  /* background-color: #3785ce; */
  height: auto;
  /* background-color: #ce376c;  */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::selection{
  color:green;
  background-color: rgb(255, 0, 234);
}
img,svg,h1{
  user-select: none;
  -webkit-user-select: none;
}